<!DOCTYPE html>
<html>
<head>
	<title>Login-MaroMeet</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<img class="wave" src="../public/images/wave.png">
	<div class="container">
		<div class="img">
			<img src="../public/images/bg.svg">
		</div>
		<div class="login-content">
			<form action="/signIN" method="POST">
				<img id="logo" src="../public/images/logo.png">
				<h2 class="title">Welcome</h2>
				<h5 class="text-danger">{{.}}</h5>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-envelop"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input type="Email" name="email" class="input" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-password"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" name="password" class="input" required>
            	   </div>
                </div>
               <td><a href="/">Signup Here!!</a></td></tr> </table>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../public/script/main.js"></script>
</body>
</html>